@model EquipmentRequest

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equipment Request Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container-fluid py-5">

        <div class="row justify-content-center">
            <div class="col-md-10">

                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="mb-0">Equipment Request Form</h2>
                    </div>

                    <div class="card-body">

                        <form asp-action="RequestForm" method="post">
                            <div class="form-group">
                                <label asp-for="Name">Name:</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email">Email:</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber">Phone Number:</label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Role">Requester Role:</label>
                                <select asp-for="Role" class="form-control">
                                    <option value="">Choose an option</option>
                                    <option value="Student">Student</option>
                                    <option value="Professor">Professor</option>
                                </select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="EquipmentType">Equipment Type:</label>
                                <select asp-for="EquipmentType" asp-items="Html.GetEnumSelectList<EquipmentType>()" class="form-control">
                                    <option selected="Laptop" value="">Please select the equipment type</option>
                                </select>
                                <span asp-validation-for="EquipmentType" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="RequestDetails">Details :</label>
                                <input asp-for="RequestDetails" class="form-control" />
                                <span asp-validation-for="RequestDetails" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Duration">Duration:</label>
                                <input asp-for="Duration" class="form-control" />
                                <span asp-validation-for="Duration" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-primary btn-block">Submit Request</button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>