@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>FAST Equipment Tool</h1>
    <p>Welcome to the FAST Equipment Tool. Here you can request IT equipment or view available items.</p>
</div>
